/* This only changes this particular animation duration */
.animate__bounce {
    --animate-duration: 8s;
    --animate-delay: 5s;
    --animate-repeat: 2;
}

.animate__fadeInLeft {
    --animation-delay: 3s;
    --animation-duration: 4s;
    
}