{% extends "dashboard/dashboard-base.html" %} 
{% block dashboard %}
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <div>
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="ti-align-left"></i>
                </a>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar">

            <div class="user-profile">
                <div class="ulogo">
                    <a href="index.html">
                        <!-- logo for regular state and mobile devices -->
                        <h3></h3>
                    </a>
                </div>
                <div class="profile-pic">
                    <img src="http://crypto-admin-templates.multipurposethemes.com/sass/images/user5-128x128.jpg" alt="user">
                    <div class="profile-info">
                        <h5 class="mt-15">John Doe</h5>
                        <div class="text-center d-inline-block">
                            <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
                            <a href="#" class="link px-15" data-toggle="tooltip" title="" data-original-title="Email"><i class="ion ion-android-mail"></i></a>
                            <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar menu-->
            <ul class="sidebar-menu" data-widget="tree">

                <li class="header nav-small-cap">PERSONAL</li>

                <li>
                    <a href="pages/currency_exchange.html">
                        <i class="ti-cup"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="pages/currency_exchange.html">
                        <i class="ti-arrow-down"></i>
                        <span>Deposit</span>
                    </a>
                </li>
                <li>
                    <a href="pages/currency_exchange.html">
                        <i class="ti-arrow-up"></i>
                        <span>Withdraw</span>
                    </a>
                </li>
                <li>
                    <a href="pages/currency_exchange.html">
                        <i class="ti-calendar"></i>
                        <span>Transaction / Trading History</span>
                    </a>
                </li>
                <li>
                    <a href="pages/currency_exchange.html">
                        <i class="ti-user"></i>
                        <span>Update Profile</span>
                    </a>
                </li>
                <li>
                    <a href="pages/auth_login.html">
                        <i class="ti-power-off"></i>
                        <span>Log Out</span>
                    </a>
                </li>

            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <h3>
                    Dashboard
                    <small>Control panel</small>
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box box-inverse box-dark">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                    {
                                        "symbols": [{
                                            "proName": "FOREXCOM:SPXUSD",
                                            "title": "S&P 500"
                                        }, {
                                            "proName": "FOREXCOM:NSXUSD",
                                            "title": "Nasdaq 100"
                                        }, {
                                            "proName": "FX_IDC:EURUSD",
                                            "title": "EUR/USD"
                                        }, {
                                            "proName": "BITSTAMP:BTCUSD",
                                            "title": "BTC/USD"
                                        }, {
                                            "proName": "BITSTAMP:ETHUSD",
                                            "title": "ETH/USD"
                                        }],
                                        "colorTheme": "light",
                                        "isTransparent": false,
                                        "displayMode": "regular",
                                        "locale": "en"
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="box-body box-inverse bg-info p-0">
                                <div class="box-header no-border">
                                    <h4>Balance</h4>
                                </div>
                                <div class="box-body p-10">
                                    <h1 class="text-center"><small>$</small>4, 0100</h1>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="box-body box-inverse bg-info p-0">
                                <div class="box-header no-border">
                                    <h4>Total Invested</h4>
                                </div>
                                <div class="box-body p-10">
                                    <h1 class="text-center"><small>$</small>84,125,859</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="box-body box-inverse bg-error p-0">
                                <div class="box-header no-border">
                                    <h4>Available Withdrawal</h4>
                                </div>
                                <div class="box-body p-10">
                                    <h1 class="text-center"><small>$</small>84,125,859</h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- withdrawal form -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="box-body wizard-content">
                                <form action="#" class="tab-wizard wizard-circle">
                                    <!-- Step 1 -->
                                    <h3>Create Profile</h3>
                                    <p class="my-3">Fill in the information to create a Profile for your account </p>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstName5">First Name :</label>
                                                    <input type="text" class="form-control" id="firstName5"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastName1">Last Name :</label>
                                                    <input type="text" class="form-control" id="lastName1"> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="emailAddress1">Email Address :</label>
                                                    <input type="email" class="form-control" id="emailAddress1"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phoneNumber1">Phone Number :</label>
                                                    <input type="tel" class="form-control" id="phoneNumber1"> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="addressline1">Address Line 1 :</label>
                                                    <input type="text" class="form-control" id="addressline1"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="addressline2">Address Line 2 :</label>
                                                    <input type="text" class="form-control" id="addressline2"> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="location3">Select City :</label>
                                                    <select class="custom-select form-control" id="location3" name="location">
                                                            <option value="">Select City</option>
                                                            <option value="Amsterdam">India</option>
                                                            <option value="Berlin">USA</option>
                                                            <option value="Frankfurt">Dubai</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="date1">Date of Birth :</label>
                                                    <input type="date" class="form-control" id="date1"> </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 2 -->
                                    <h6>Account Setup</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="url123">URL :</label>
                                                    <input type="url" class="form-control" id="url123" placeholder="http://">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="username123">Username :</label>
                                                    <input type="text" class="form-control" id="username123">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="password123">Password :</label>
                                                    <input type="password" class="form-control" id="password123">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>User Group :</label>
                                                    <div class="c-inputs-stacked">
                                                        <input name="group123" type="radio" id="radio_123" value="1">
                                                        <label for="radio_123" class="d-block">Sales Person</label>
                                                        <input name="group456" type="radio" id="radio_456" value="1">
                                                        <label for="radio_456">Customer</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Communications :</label>
                                                    <div class="c-inputs-stacked">
                                                        <input type="checkbox" id="checkbox_123">
                                                        <label for="checkbox_123" class="d-block">Email</label>
                                                        <input type="checkbox" id="checkbox_234">
                                                        <label for="checkbox_234" class="d-block">SMS</label>
                                                        <input type="checkbox" id="checkbox_345">
                                                        <label for="checkbox_345" class="d-block">Phone</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 3 -->
                                    <h6>Billing Setup</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="int123">Cardholder Name :</label>
                                                    <input type="text" class="form-control" id="int123">
                                                </div>
                                                <div class="form-group">
                                                    <label for="int234">Card Number :</label>
                                                    <input type="text" class="form-control" id="int234" placeholder="" value="23124567854356">
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="intType1">Exp Month :</label>
                                                            <select class="custom-select form-control" id="intType1" data-placeholder="Exp Month" name="intType1">
                                                                    <option value="">Select</option>
                                                                    <option value="01">01</option>
                                                                    <option value="02">02</option>
                                                                    <option value="03">03</option>
                                                                    <option value="04" selected="">04</option>
                                                                    <option value="05">05</option>
                                                                    <option value="06">06</option>
                                                                    <option value="07">07</option>
                                                                    <option value="08">08</option>
                                                                    <option value="09">09</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="intType1">Exp Year :</label>
                                                            <select class="custom-select form-control" id="intType12" data-placeholder="Exp Year" name="intType12">
                                                                    <option value="">Select</option>
                                                                    <option value="2018">2018</option>
                                                                    <option value="2019">2019</option>
                                                                    <option value="2020">2020</option>
                                                                    <option value="2021" selected="">2021</option>
                                                                    <option value="2022">2022</option>
                                                                    <option value="2023">2023</option>
                                                                    <option value="2024">2024</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="intType1">CVV :</label>
                                                            <input type="number" class="form-control" name="billing_card_cvv" placeholder="" value="450">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label for="Location1">Location :</label>
                                                    <select class="custom-select form-control" id="Location1" name="location">
                                                            <option value="">Select City</option>
                                                            <option value="India">India</option>
                                                            <option value="USA">USA</option>
                                                            <option value="Dubai">Dubai</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="addressline12">Address Line 1 :</label>
                                                    <input type="text" class="form-control" id="addressline12">
                                                </div>

                                                <div class="form-group">
                                                    <label for="addressline13">Address Line 1 :</label>
                                                    <input type="text" class="form-control" id="addressline13">
                                                </div>
                                                <div class="form-group">
                                                    <label>Delivery Type :</label>
                                                    <div class="c-inputs-stacked">
                                                        <input name="group1" type="radio" id="radio_1" value="1">
                                                        <label for="radio_1" class="d-block">Standart Delevery</label>
                                                        <input name="group1" type="radio" id="radio_2" value="1">
                                                        <label for="radio_2">Fast Delevery</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 4 -->
                                    <h6>Confirmation</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="decisions1">Comments</label>
                                                    <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="c-inputs-stacked">
                                                        <input type="checkbox" id="checkbox_1">
                                                        <label for="checkbox_1" class="d-block">Click here to indicate that you have read and agree to the terms presented in the Terms and Conditions agreement</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>




                {% endblock %}