{% extends "home/base.html" %} {% block body %}
<!-- Wrapper Starts -->
<div class="wrapper">
    {% include "home/navigation.html" %}
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="banner-overlay">
            <div class="banner-text text-center">
                <div class="container">
                    <!-- Section Title Starts -->
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <!-- Title Starts -->
                            <h2 class="title-head">our <span>services</span></h2>
                            <!-- Title Ends -->
                            <hr>
                            <!-- Breadcrumb Starts -->
                            <ul class="breadcrumb">
                                <li><a href="index.html"> home</a></li>
                                <li>services</li>
                            </ul>
                            <!-- Breadcrumb Ends -->
                        </div>
                    </div>
                    <!-- Section Title Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area Ends -->
    <!-- Section Services Starts -->
    <section class="services">
        <div class="container">
            <div class="row">
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInLeft">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Bitcoin Escrow Service</h3>
                            <p>An escrow service is a mediator service that keeps the money for a transaction in safekeeping until the Bitcoins are handed over. Escrow protects buyers from fraudulent sellers by requiring the Bitcoin to be deposited up front,
                                before any money changes hands
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInRight">
                    <div>
                        <img id="add-bitcoins" src="/static/images/icons/orange/add-bitcoins.png" alt="add bitcoins">
                        <div class="service-box-content">
                            <h3>Bitcoin Mining</h3>
                            <p>Bitcoin mining is the process of creating new bitcoin by solving a computational puzzle. Bitcoin mining is necessary to maintain the ledger of transactions upon which bitcoin is based. Miners have become very sophisticated
                                over the last several years using complex machinery to speed up mining operations.</p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInLeft">
                    <div>
                        <img id="buy-sell-bitcoins" src="/static/images/icons/orange/buy-sell-bitcoins.png" alt="buy and sell bitcoins">
                        <div class="service-box-content">
                            <h3>Software Development</h3>
                            <p>Software development is the process of conceiving, specifying, designing, programming, documenting, testing, and bug fixing involved in creating and maintaining applications, frameworks, or other software components. For more
                                info please visit <a href="http://www.a1technologiesio.online"> A1Technologiesio.online</a></p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInRight">
                    <div>
                        <img id="strong-security" src="/static/images/icons/orange/strong-security.png" alt="strong security" />
                        <div class="service-box-content">
                            <h3>Bitcoin Transaction</h3>
                            <p>Bitcoin (BTC) was created to function as peer-to-peer electronic cash. ... Bitcoin transactions are messages, like email, which are digitally signed using cryptography and sent to the entire Bitcoin Network for verification.
                                Transactions are public and can be found on the digital ledger known as the blockchain.</p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInLeft">
                    <div>
                        <img id="world-coverage" src="/static/images/icons/orange/world-coverage.png" alt="world coverage" />
                        <div class="service-box-content">
                            <h3>Bitcoin Exchange</h3>
                            <p>A cryptocurrency exchange, or a digital currency exchange, is a business that allows customers to trade cryptocurrencies or digital currencies for other assets, such as conventional fiat money or other digital currencies.</p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box animate__animated animate__bounce animate__fadeInRight">
                    <div>
                        <img id="payment-options" src="/static/images/icons/orange/payment-options.png" alt="payment options" />
                        <div class="service-box-content">
                            <h3>Bitcoin Investment</h3>
                            <p>The first way you can invest in Bitcoin is by purchase a coin or a fraction of a coin via trading apps like Coinbase. In most cases, you'll need to provide personal information to set up an account, then deposit money you'll
                                use to purchase bitcoin.</p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->

            </div>
        </div>
    </section>
    <!-- Section Services Ends -->
    <!-- Call To Action Section Starts -->
    <section class="call-action-all">
        <div class="call-action-all-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Call To Action Text Starts -->
                        <div class="action-text">
                            <h2>Get Started Today With Bitcoin</h2>
                            <p class="lead">Open account for free and start trading Bitcoins!</p>
                        </div>
                        <!-- Call To Action Text Ends -->
                        <!-- Call To Action Button Starts -->
                        <p class="action-btn"><a class="btn btn-primary" href="{% url 'main:register' %}">Register Now</a></p>
                        <!-- Call To Action Button Ends -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section Ends -->
    {% include "home/footer.html" %} {% endblock %}