{% extends "home/base.html" %} {% block body %}
<!-- Wrapper Starts -->
<div class="wrapper">
    {% include "home/navigation.html" %}
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="banner-overlay">
            <div class="banner-text text-center">
                <div class="container">
                    <!-- Section Title Starts -->
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <!-- Title Starts -->
                            <h2 class="title-head">our <span>services</span></h2>
                            <!-- Title Ends -->
                            <hr>
                            <!-- Breadcrumb Starts -->
                            <ul class="breadcrumb">
                                <li><a href="index.html"> home</a></li>
                                <li>services</li>
                            </ul>
                            <!-- Breadcrumb Ends -->
                        </div>
                    </div>
                    <!-- Section Title Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area Ends -->
    <!-- Section Services Starts -->
    <section class="services">
        <div class="container">
            <div class="row">
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Bitcoin</h3>
                            <p>
                            <h5> Market cap: Over $641 billion </h5>

Created in 2009 by someone under the pseudonym Satoshi Nakamoto, Bitcoin (BTC) is the original cryptocurrency. As with most cryptocurrencies, BTC runs on a blockchain, or a ledger logging transactions distributed across a network of thousands of computers. Because additions to the distributed ledgers must be verified by solving a cryptographic puzzle, a process called proof of work, Bitcoin is kept secure and safe from fraudsters.

Bitcoin’s price has skyrocketed as it’s become a household name. Five years ago, you could buy a Bitcoin for about $500. As of June 2021, a single Bitcoin’s price was over $32,000. That’s growth of about 6,300%.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Ethereum</h3>
                            <p>
                            <h5> Market cap: Over $307 billion</h5>

Market cap: Over $307 billion

Both a cryptocurrency and a blockchain platform, Ethereum is a favorite of program developers because of its potential applications, like so-called smart contracts that automatically execute when conditions are met and non-fungible tokens (NFTs).

Ethereum has also experienced tremendous growth. In just five years, its price went from about $11 to over $2,500, increasingly roughly more than 22,000%.


                            </p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Tether (USDT) </h3>
                            <p>
                            <h5>Market cap: Over $62 billion</h5>

Unlike some other forms of cryptocurrency, Tether is a stablecoin, meaning it’s backed by fiat currencies like U.S. dollars and the Euro and hypothetically keeps a value equal to one of those denominations. In theory, this means Tether’s value is supposed to be more consistent than other cryptocurrencies, and it’s favored by investors who are wary of the extreme volatility of other coins.                            </p>
                        </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Binance Coin (BNB)</h3>
                            <p>
                            <h5> Market cap: Over $56 billion</h5>

The Binance Coin is a form of cryptocurrency that you can use to trade and pay fees on Binance, one of the largest crypto exchanges in the world.

Since its launch in 2017, Binance Coin has expanded past merely facilitating trades on Binance’s exchange platform. Now, it can be used for trading, payment processing or even booking travel arrangements. It can also be traded or exchanged for other forms of cryptocurrency, such as Ethereum or Bitcoin.

Its price in 2017 was just $0.10; by June 2021, it had risen to over $350, a gain of almost 350,000%.



                            </p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Service Box Starts -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Cardano (ADA) </h3>
                            <p>
                            <h5>Market cap: Over $51 billion</h5>
Somewhat later to the crypto scene, Cardano is notable for its early embrace of proof-of-stake validation. This method expedites transaction time and decreases energy usage and environmental impact by removing the competitive, problem-solving aspect of transaction verification present in platforms like Bitcoin. Cardano also works like Ethereum to enable smart contracts and decentralized applications, which are powered by ADA, its native coin.

Cardano’s ADA token has had relatively modest growth compared to other major crypto coins. In 2017, ADA’s price was $0.02. As of June 2021, its price was at $1.50. This is an increase of 7,400%.
                            </p>
                       </div>
                    </div>
                </div>
                <!-- Service Box Ends -->
                <div class="col-md-6 service-box ">
                    <div>
                        <img id="download-bitcoin" src="/static/images/icons/orange/download-bitcoin.png" alt="download bitcoin">
                        <div class="service-box-content">
                            <h3>Trade Dogecoin (DOGE)</h3>
                            <p>
                            <h5> Market cap: Over $44 billion</h5>

Dogecoin has been a hot topic thanks to celebrities and billionaires like Elon Musk. Famously started as a joke in 2013, Dogecoin rapidly became a prominent cryptocurrency option, thanks to a dedicated community and creative memes. Unlike many other cryptos, such as Bitcoin, there is no limit on the number of Dogecoins that can be created, which leaves the currency susceptible to devaluation as supply increases.

Dogecoin’s price in 2017 was $0.0002. By June 2021, its price was at $0.32—a 159,900% increase.


                            </p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </section>
    <!-- Section Services Ends -->
    <!-- Call To Action Section Starts -->
    <section class="call-action-all">
        <div class="call-action-all-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Call To Action Text Starts -->
                        <div class="action-text">
                            <h2>Get Started Today With Bitcoin</h2>
                            <p class="lead">Open account for free and start trading Bitcoins!</p>
                        </div>
                        <!-- Call To Action Text Ends -->
                        <!-- Call To Action Button Starts -->
                        <p class="action-btn"><a class="btn btn-primary" href="{% url 'main:register' %}">Register Now</a></p>
                        <!-- Call To Action Button Ends -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section Ends -->
    {% include "home/footer.html" %} {% endblock %}