{% extends "dashboard/dashboard-base.html" %} {% load widget_tweaks %} {% block dashboard %}
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <div>
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="ti-align-left"></i>
                </a>
            </div>
        </nav>
    </header>

    {% include "dashboard/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <h3>
                    Dashboard
                    <small>Control panel</small>
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="breadcrumb-item active">Withdraw Verification</li>
                </ol>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box box-inverse box-dark">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                    {
                                        "symbols": [{
                                            "proName": "FOREXCOM:SPXUSD",
                                            "title": "S&P 500"
                                        }, {
                                            "proName": "FOREXCOM:NSXUSD",
                                            "title": "Nasdaq 100"
                                        }, {
                                            "proName": "FX_IDC:EURUSD",
                                            "title": "EUR/USD"
                                        }, {
                                            "proName": "BITSTAMP:BTCUSD",
                                            "title": "BTC/USD"
                                        }, {
                                            "proName": "BITSTAMP:ETHUSD",
                                            "title": "ETH/USD"
                                        }],
                                        "colorTheme": "light",
                                        "isTransparent": false,
                                        "displayMode": "regular",
                                        "locale": "en"
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>

                <!-- withdrawal form -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="box-body wizard-content">
                                <h1>Step 3:</h1>
                                <form method="POST" class="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- Step 1 -->
                                    <h5>Submit Document to verify your Identity</h5>
                                    <p>
                                        Fill in the form below to withdraw funds
                                    </p>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="">Document Type</label> {{ form.verification_method|add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-12">
                                                <label for="">Upload Document</label> {{ form.upload_document|add_class:'form-control'}}
                                            </div>
                                        </div>
                                    </section>
                                    <button class="btn btn-success btn-block my-3">SUBMIT</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>



                {% endblock %}