{% extends "dashboard/dashboard-base.html" %} {% load widget_tweaks %} {% block dashboard %}
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <div>
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="ti-align-left"></i>
                </a>
            </div>
        </nav>
    </header>

    {% include "dashboard/sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <h3>
                    Dashboard
                    <small>Control panel</small>
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="breadcrumb-item active">Withdraw</li>
                </ol>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box box-inverse box-dark">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                    {
                                        "symbols": [{
                                            "proName": "FOREXCOM:SPXUSD",
                                            "title": "S&P 500"
                                        }, {
                                            "proName": "FOREXCOM:NSXUSD",
                                            "title": "Nasdaq 100"
                                        }, {
                                            "proName": "FX_IDC:EURUSD",
                                            "title": "EUR/USD"
                                        }, {
                                            "proName": "BITSTAMP:BTCUSD",
                                            "title": "BTC/USD"
                                        }, {
                                            "proName": "BITSTAMP:ETHUSD",
                                            "title": "ETH/USD"
                                        }],
                                        "colorTheme": "light",
                                        "isTransparent": false,
                                        "displayMode": "regular",
                                        "locale": "en"
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                {% include "dashboard/dashboard-base.html" %}
                <!-- withdrawal form -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card">
                            {% if request.user.withdraw.amount %}
                            <div class="box-body wizard-content">
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Withdrawal Has been Initiated <br> {{ request.user.withdraw.message }} </h3>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            {% else %}
                            <div class="box-body wizard-content">
                                <form method="POST" class="">


                                    <!-- Step 1 -->
                                    <h5>Withdraw To Bitcoin Wallet</h5>
                                    <p>
                                        Fill in the form below and We would send to Your BITCOIN wallet.
                                    </p>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% csrf_token %}
                                                <label for="">BTC wallet Address</label> {{ form.wallet_address|add_class:'form-control'|attr:'placeholder:3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5'}}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Amount</label> {{ form.amount|add_class:'form-control'}}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">Password</label> {{ form.password|add_class:'form-control'}}
                                            </div>
                                        </div>
                                    </section>

                                    <button class="btn btn-success btn-block my-3">SUBMIT</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>


        </div>
    </div>
</div>
{% endblock %}