{% block sidebar %}
   <!-- Left side column. contains the logo and sidebar -->
   <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <div class="user-profile">
            <div class="ulogo">
                <a href="{% url 'main:index' %}">
                    <!-- logo for regular state and mobile devices -->
                    <h3>CRYPTO Land</h3>
                </a>
            </div>
            <div class="profile-pic">
                {% if request.user.profile.profile_picture %}
                <img src="{{ request.user.profile.profile_picture.url }}" alt="user">
                {% else %}
                <img src="" alt="No image">
                {% endif %}
                <div class="profile-info">
                    <h5 class="mt-15">{{ request.user.profile.first_name}} {{ request.user.profile.last_name}} </h5>
                    <div class="text-center d-inline-block">
                        <a href="{% url 'main:edit-profile' %}" class="link mr-2" data-toggle="tooltip" title="" data-original-title="Settings"><i class="fas fa-user"></i></a>
                        <a href="{% url 'main:logout' %}" class="" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header nav-small-cap">PERSONAL</li>
             
            <li>
                <a href="{% url 'main:dashboard' %}">
                    <i class="ti-cup"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:fund-account' %}">
                    <i class="ti-arrow-down"></i>
                    <span>Deposit</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:withdraw-funds' %}">
                    <i class="ti-arrow-up"></i>
                    <span>Withdraw</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:transactions' %}">
                    <i class="ti-calendar"></i>
                    <span>Transaction / Trading History</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:edit-profile' %}">
                    <i class="ti-user"></i>
                    <span>Update Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'main:logout' %}">
                    <i class="ti-power-off"></i>
                    <span>Log Out</span>
                </a>
            </li>

        </ul>
    </section>
</aside>

{% endblock %}